/* RAINBOWSZJaejgsdiufgb */


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}









@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #151c45;
    overflow: hidden;
}

.background span {
    width: 5vmin;
    height: 5vmin;
    border-radius: 5vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #000000;
    top: 37%;
    left: 22%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw 1vh;
    box-shadow: 10vmin 0 1.4792446223716964vmin currentColor;
}
.background span:nth-child(1) {
    color: #f6f5f4;
    top: 55%;
    left: 57%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -12vh;
    box-shadow: 10vmin 0 1.7408153406259521vmin currentColor;
}
.background span:nth-child(2) {
    color: #f6f5f4;
    top: 7%;
    left: 90%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 6vw 14vh;
    box-shadow: 10vmin 0 1.7246916707996038vmin currentColor;
}
.background span:nth-child(3) {
    color: #f6f5f4;
    top: 8%;
    left: 41%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw -15vh;
    box-shadow: -10vmin 0 1.9665832494954616vmin currentColor;
}
.background span:nth-child(4) {
    color: #f6f5f4;
    top: 83%;
    left: 63%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw -4vh;
    box-shadow: 10vmin 0 1.594841322326343vmin currentColor;
}
.background span:nth-child(5) {
    color: #e01b24;
    top: 22%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 9vh;
    box-shadow: 10vmin 0 1.4860270873011885vmin currentColor;
}
.background span:nth-child(6) {
    color: #e01b24;
    top: 72%;
    left: 82%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw 24vh;
    box-shadow: -10vmin 0 1.477957275605355vmin currentColor;
}
.background span:nth-child(7) {
    color: #f6f5f4;
    top: 80%;
    left: 29%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 13vh;
    box-shadow: -10vmin 0 1.6357792065253993vmin currentColor;
}
.background span:nth-child(8) {
    color: #e01b24;
    top: 72%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 3vh;
    box-shadow: -10vmin 0 1.7873015850976541vmin currentColor;
}
.background span:nth-child(9) {
    color: #e01b24;
    top: 5%;
    left: 81%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 14vh;
    box-shadow: 10vmin 0 1.4364203252413938vmin currentColor;
}
.background span:nth-child(10) {
    color: #f6f5f4;
    top: 20%;
    left: 53%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw -20vh;
    box-shadow: 10vmin 0 1.9589950129454854vmin currentColor;
}
.background span:nth-child(11) {
    color: #e01b24;
    top: 53%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw 17vh;
    box-shadow: -10vmin 0 1.8568472903840276vmin currentColor;
}
.background span:nth-child(12) {
    color: #e01b24;
    top: 49%;
    left: 37%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -17vh;
    box-shadow: 10vmin 0 1.7829245532183056vmin currentColor;
}
.background span:nth-child(13) {
    color: #f6f5f4;
    top: 99%;
    left: 22%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -20vw -24vh;
    box-shadow: 10vmin 0 1.8277945044422885vmin currentColor;
}
.background span:nth-child(14) {
    color: #e01b24;
    top: 32%;
    left: 76%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw -1vh;
    box-shadow: 10vmin 0 1.318658359122379vmin currentColor;
}
.background span:nth-child(15) {
    color: #e01b24;
    top: 55%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw -17vh;
    box-shadow: -10vmin 0 1.8836062881146687vmin currentColor;
}
.background span:nth-child(16) {
    color: #e01b24;
    top: 53%;
    left: 61%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -19vh;
    box-shadow: 10vmin 0 2.0332876867582925vmin currentColor;
}
.background span:nth-child(17) {
    color: #e01b24;
    top: 92%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw 16vh;
    box-shadow: -10vmin 0 1.4422195466834153vmin currentColor;
}
.background span:nth-child(18) {
    color: #e01b24;
    top: 39%;
    left: 34%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 13vh;
    box-shadow: 10vmin 0 1.5092294503722785vmin currentColor;
}
.background span:nth-child(19) {
    color: #e01b24;
    top: 90%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw 8vh;
    box-shadow: -10vmin 0 1.6759510574897782vmin currentColor;
}

body {
  color: #a13535;
  background-image: linear-gradient(-135deg, #7BC4DA 0%, #4E5ABE 100%);
  background-image: linear-gradient(-135deg, #363256 0%, #4C4B78 92%);
  background: #363256 rgba(94, 110, 220, 0.5);
}

/* social media butt - ons teehee */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
