body {
  background: url("/images/arethererainbowscomingoutofyourasslmfao.jpg") no-repeat center fixed;
  background-size: cover;
  color: black;
  font-family: "Times New Roman";
  cursor: url("/images/cursor.png"), auto; /* meow */
}
h2 {
  color:goldenrod;
}
h3 {
  color:goldenrod;
}
h4 {
  color:goldenrod;
}
ul {
  color:goldenrod;
}
p {
  color:goldenrod;
}
/* PISSSS!!!!